@charset "UTF-8";
html {
  /* HTML5 display-role reset for older browsers */
}
html html,
html body,
html div,
html span,
html applet,
html object,
html iframe,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html blockquote,
html pre,
html a,
html abbr,
html acronym,
html address,
html big,
html cite,
html code,
html del,
html dfn,
html em,
html img,
html ins,
html kbd,
html q,
html s,
html samp,
html small,
html strike,
html strong,
html sub,
html sup,
html tt,
html var,
html b,
html u,
html i,
html center,
html dl,
html dt,
html dd,
html ol,
html ul,
html li,
html fieldset,
html form,
html label,
html legend,
html table,
html caption,
html tbody,
html tfoot,
html thead,
html tr,
html th,
html td,
html article,
html aside,
html canvas,
html details,
html embed,
html figure,
html figcaption,
html footer,
html header,
html hgroup,
html menu,
html nav,
html output,
html ruby,
html section,
html summary,
html time,
html mark,
html audio,
html video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html article,
html aside,
html details,
html figcaption,
html figure,
html footer,
html header,
html hgroup,
html menu,
html nav,
html section {
  display: block;
}
html ol,
html ul {
  list-style: none;
}
html blockquote,
html q {
  quotes: none;
}
html blockquote:before,
html blockquote:after,
html q:before,
html q:after {
  content: "";
  content: none;
}
html table {
  border-collapse: collapse;
  border-spacing: 0;
}
html a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

body,
hr {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  resize: none;
}
input:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
}
input:focus::-ms-input-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-input-placeholder {
  color: inherit;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "TTNorms";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TTNormsMedium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium.ttf") format("truetype"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap") format("truetype");
}
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 24px;
  }
}

.contacts {
  background: #333;
  padding-top: 12px;
  padding-bottom: 12px;
}
.contacts * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.contacts__wrapper,
.contacts__wrapper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__wrapper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
}

.contacts__wrapper-link-icon {
  max-width: 24px;
  height: auto;
}

.contacts__wrapper-link_spacing {
  margin: 0 10px;
}

@media (max-width: 899.98px) {
  .contacts {
    display: none;
  }
}
.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-contacts__link-logo {
  max-width: 90px;
}
.mobile-contacts__link-logo .mobile-contacts__link-logo-img {
  width: 100%;
}

.mobile-contacts__link:active path, .mobile-contacts__link:hover path {
  stroke: #c80122;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 899.98px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  color: #1d1d1d;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.056px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navigation__link:hover {
  color: #c80122;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
@media (max-width: 899.98px) {
  .search {
    gap: 20px;
  }
  .search .search__item-logo {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .search .customBtn {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .search {
    padding-top: 16px;
  }
  .search .serach__item-catalog {
    padding: 15px 12px;
  }
  .search .serach__item-catalog .serach__item-catalog-text {
    display: none;
  }
}

.serach__item-flex {
  width: 100%;
}
.serach__item-flex .serach__item-input-wrapper {
  width: 100%;
}

.search__item-logo {
  max-width: 145px;
  height: auto;
}
.search__item-logo img {
  width: 100%;
}

.serach__item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serach__item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #e31335;
  border: 1.5px solid #e31335;
  border-radius: 4px;
  padding: 12px 28px;
  cursor: pointer;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.serach__item-catalog:hover {
  background: #c80122;
  border: 1.5px solid #c80122;
}

.serach__item-catalog-burger {
  padding: 12px 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.serach__item-catalog-burger li {
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.serach__item-catalog-text {
  color: #fff;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.064px;
}

.serach__item-input-wrapper {
  position: relative;
}

.serach__item-input {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 16px 20px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input:focus, .serach__item-input:hover {
  border-color: #828282;
}
.serach__item-input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::-moz-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input:-ms-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::-ms-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}

.serach__item-input-lable {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 1%;
}
@media (max-width: 1299.98px) {
  .serach__item-input-lable {
    right: 10px;
  }
}

@media (max-width: 575.98px) {
  .serach__item-flex {
    gap: 8px;
  }
  .serach__item-catalog {
    padding: 10px !important;
    height: 40px;
  }
  .serach__item-input {
    padding: 8px;
    height: 40px;
  }
  .serach__item-input-lable {
    right: 4px !important;
  }
  .serach__item-input-lable svg {
    width: 24px;
    height: 24px;
  }
}
.filters {
  padding-top: 12px;
  padding-bottom: 12px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
}
.filters__list-item {
  color: #101010;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: 0.064px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 184px;
  height: 72px;
  padding: 24px 8px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.filters__list-item:hover {
  color: #e31335;
  background: transparent;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}
.filters__list-item p {
  width: 100%;
}
@media (max-width: 1219.98px) {
  .filters__list {
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: thin; /* для Firefox */
    -ms-overflow-style: none; /* для Internet Explorer и Edge */
    height: 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters__list::-webkit-scrollbar {
    display: none; /* для WebKit (Chrome, Safari) */
  }
  .filters__list-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    padding: 12px 8px;
    white-space: nowrap;
  }
  .filters__list-item:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  }
  .filters__list-item p {
    position: relative;
    margin-top: -5px;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  gap: 70px;
}

.intro__info-title {
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.intro__info-subtitle {
  margin-top: 20px;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.intro__img {
  max-width: 468px;
}
@media (max-width: 991.98px) {
  .intro__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    gap: 15px;
  }
  .intro__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 576.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
    gap: 10px;
  }
  .intro__img {
    width: 100%;
    max-width: 375px;
  }
  .intro__info-title {
    font-size: 26px;
    line-height: 30px;
  }
  .intro__info-subtitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.048px;
    margin-top: 10px;
  }
}
.benefits {
  margin-top: 64px;
  margin-bottom: 84px;
}
@media (max-width: 575.98px) {
  .benefits {
    margin-top: 24px;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__list * {
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .benefits__list .benefits__list-item-description {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.048px;
    max-width: 190px;
    height: 32px;
  }
  .benefits__list .benefits__list-item {
    gap: 8px;
  }
  .benefits__list .benefits__list-item-icon {
    width: 30px !important;
  }
}

.benefits__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.benefits__list-item-icon {
  width: 40px;
}
.benefits__list-item-description {
  color: #101010;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.056px;
  max-width: 232px;
}