@import "common/_reset";

//!================ Общие стили =================
.container {
   width: 100%;
   max-width: 1264px;
   margin: 0 auto;

   @media (min-width: 1300px) and (max-width: 1375px) {
      padding-left: 12px;
      padding-right: 12px;
   }

   @media (max-width: 1299.98px) {
      padding: 0 24px;
   }
}

.body_hidden {
   @media (max-width: 1099.98px) {
      .filters,
      .intro,
      .benefits,
      .equipments,
      .offers,
      .partners,
      .about,
      .catalog,
      .good-page,
      .footer {
         display: none !important;
      }
   }
}

.page-title {
   color: #101010;
   font-family: $Montserrat;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 62px; /* 172.222% */
   //    line-height: 28px;
}
//!=================================

.little-defolt-title {
   color: var(--black-100, #101010);

   font-family: $Montserrat;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px; /* 133.333% */

   @media (max-width: 767.98px) {
      font-size: 16px;
      line-height: 20px; /* 125% */
   }
}
@media (max-width: 575.98px) {
   hr {
      display: none;
   }
}

.dark {
   color-scheme: white !important;
}
@import "_components";
