@charset "UTF-8";
html {
  /* HTML5 display-role reset for older browsers */
}
html html,
html body,
html div,
html span,
html applet,
html object,
html iframe,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html blockquote,
html pre,
html a,
html abbr,
html acronym,
html address,
html big,
html cite,
html code,
html del,
html dfn,
html em,
html img,
html ins,
html kbd,
html q,
html s,
html samp,
html small,
html strike,
html strong,
html sub,
html sup,
html tt,
html var,
html b,
html u,
html i,
html center,
html dl,
html dt,
html dd,
html ol,
html ul,
html li,
html fieldset,
html form,
html label,
html legend,
html table,
html caption,
html tbody,
html tfoot,
html thead,
html tr,
html th,
html td,
html article,
html aside,
html canvas,
html details,
html embed,
html figure,
html figcaption,
html footer,
html header,
html hgroup,
html menu,
html nav,
html output,
html ruby,
html section,
html summary,
html time,
html mark,
html audio,
html video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html article,
html aside,
html details,
html figcaption,
html figure,
html footer,
html header,
html hgroup,
html menu,
html nav,
html section {
  display: block;
}
html ol,
html ul {
  list-style: none;
}
html blockquote,
html q {
  quotes: none;
}
html blockquote:before,
html blockquote:after,
html q:before,
html q:after {
  content: "";
  content: none;
}
html table {
  border-collapse: collapse;
  border-spacing: 0;
}
html a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

body,
hr {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  resize: none;
}
input:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
}
input:focus::-ms-input-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-input-placeholder {
  color: inherit;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "TTNorms";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TTNormsMedium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium.ttf") format("truetype"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap") format("truetype");
}
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 24px;
  }
}

.contacts {
  background: #333;
  padding-top: 12px;
  padding-bottom: 12px;
}
.contacts * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.contacts__wrapper,
.contacts__wrapper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__wrapper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
}

.contacts__wrapper-link-icon {
  max-width: 24px;
  height: auto;
}

.contacts__wrapper-link_spacing {
  margin: 0 10px;
}

@media (max-width: 899.98px) {
  .contacts {
    display: none;
  }
}
.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-contacts__link-logo {
  width: 96px;
  height: 48px;
}
.mobile-contacts__link-logo .mobile-contacts__link-logo-img {
  width: 100%;
  height: 100%;
}

.mobile-contacts__link:active path, .mobile-contacts__link:hover path {
  stroke: #c80122;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 899.98px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  color: #1d1d1d;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.056px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navigation__link:hover {
  color: #c80122;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
@media (max-width: 899.98px) {
  .search {
    gap: 20px;
  }
  .search .search__item-logo {
    display: none;
  }
}
@media (min-width: 900px) {
  .search .search__item-logo {
    margin-right: 40px;
  }
  .search .search__button {
    margin-left: 32px;
  }
}
@media (max-width: 767.98px) {
  .search .customBtn {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .search {
    padding-top: 16px;
  }
  .search .serach__item-catalog {
    padding: 15px 12px;
  }
  .search .serach__item-catalog .serach__item-catalog-text {
    display: none;
  }
}

.serach__item-flex {
  width: 100%;
}
.serach__item-flex .serach__item-input-wrapper {
  width: 100%;
}

.search__item-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.search__item-logo img {
  width: 144px;
  height: 72px;
}

.serach__item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serach__item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #e31335;
  border: 1.5px solid #e31335;
  border-radius: 4px;
  padding: 12px 28px;
  cursor: pointer;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.serach__item-catalog:hover {
  background: #c80122;
  border: 1.5px solid #c80122;
}

.serach__item-catalog-burger {
  padding: 12px 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.serach__item-catalog-burger li {
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.serach__item-catalog-text {
  color: #fff;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.064px;
}

.serach__item-input-wrapper {
  position: relative;
}

.serach__item-input {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 16px 20px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input:focus, .serach__item-input:hover {
  border-color: #828282;
}
.serach__item-input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::-moz-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input:-ms-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::-ms-input-placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.serach__item-input::placeholder {
  color: #a8a8a8;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  font-style: normal;
}

.serach__item-input-lable {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 1%;
}
@media (max-width: 1299.98px) {
  .serach__item-input-lable {
    right: 10px;
  }
}

@media (max-width: 575.98px) {
  .serach__item-flex {
    gap: 8px;
  }
  .serach__item-catalog {
    padding: 10px !important;
    height: 40px;
  }
  .serach__item-input {
    padding: 8px;
    height: 40px;
  }
  .serach__item-input-lable {
    right: 4px !important;
  }
  .serach__item-input-lable svg {
    width: 24px;
    height: 24px;
  }
}
.filters {
  padding-top: 12px;
  padding-bottom: 12px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.filters__list-item {
  color: #101010;
  text-align: center;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: 0.064px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 72px;
  padding: 24px 8px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
@media (min-width: 1335px) {
  .filters__list-item {
    min-width: 184px;
    max-width: 184px;
  }
}
.filters__list-item:hover {
  color: #e31335;
  background: transparent;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}
.filters__list-item p {
  width: 100%;
}
@media (max-width: 1334.98px) {
  .filters__list {
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: thin; /* для Firefox */
    -ms-overflow-style: none; /* для Internet Explorer и Edge */
    height: 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters__list::-webkit-scrollbar {
    display: none; /* для WebKit (Chrome, Safari) */
  }
  .filters__list-item {
    width: 100%;
    height: 40px;
    padding: 12px 8px;
    white-space: nowrap;
  }
  .filters__list-item:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  }
  .filters__list-item p {
    position: relative;
    margin-top: -5px;
  }
}
@media (min-width: 1335px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  gap: 70px;
}

.intro__info-title {
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.intro__info-subtitle {
  margin-top: 20px;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.intro__img {
  max-width: 468px;
}
@media (max-width: 991.98px) {
  .intro__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24px;
  }
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24px;
    gap: 15px;
  }
  .intro__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .intro__info-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 576.98px) {
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
    gap: 10px;
  }
  .intro__img {
    width: 100%;
    max-width: 375px;
  }
  .intro__info-title {
    font-size: 26px;
    line-height: 30px;
  }
  .intro__info-subtitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.048px;
    margin-top: 8px;
  }
}
.benefits {
  margin-top: 64px;
  margin-bottom: 84px;
}
@media (max-width: 575.98px) {
  .benefits {
    margin-top: 24px;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__list * {
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .benefits__list .benefits__list-item-description {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.048px;
    max-width: 190px;
    height: 32px;
  }
  .benefits__list .benefits__list-item-icon {
    width: 32px !important;
    height: 32px !important;
  }
}

.benefits__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.benefits__list-item-icon {
  width: 40px;
}
.benefits__list-item-description {
  color: #101010;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.056px;
  max-width: 232px;
}

.equipments {
  margin-top: 80px;
}

.defolt-title {
  color: #101010;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
}

.equipments__categories {
  margin-top: 20px;
  padding-bottom: 24px;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.equipments__categories * {
  cursor: pointer;
}
.equipments__categories::-webkit-scrollbar {
  border-radius: 10px;
  background: #f3f2f4;
  height: 4px;
}
.equipments__categories::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e31335;
  cursor: pointer !important;
}
.equipments__categories::-webkit-scrollbar-button {
  display: none;
}

.equipments__categories-item:hover .equipments__categories-item-img-wrapper {
  -webkit-box-shadow: 0px 0px 11px 6px rgba(14, 31, 53, 0.16);
          box-shadow: 0px 0px 11px 6px rgba(14, 31, 53, 0.16);
}

.equipments__categories-item-img-wrapper {
  padding: 20px;
  width: 292px;
  height: 180px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(14, 31, 53, 0.16);
          box-shadow: 0px 0px 8px 0px rgba(14, 31, 53, 0.16);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.equipments__categories-item-img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 140px;
  display: block;
  margin: auto;
}

.equipments__categories-item-text {
  color: #101010;
  font-family: "TTNormsMedium", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.072px;
  margin-top: 12px;
  text-align: center;
}

@media (max-width: 575.98px) {
  .equipments__categories {
    gap: 16px;
    margin-top: 12px;
    padding-bottom: 16px;
  }
  .defolt-title {
    font-size: 16px;
    line-height: 20px; /* 125% */
  }
  .equipments__title {
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
  }
  .equipments__categories-item-img-wrapper {
    width: 232px;
    height: 160px;
  }
  .equipments__categories-item-img {
    max-width: 120px;
    max-height: 120px;
  }
  .equipments__categories-item-text {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.064px;
    margin-top: 8px;
    text-align: left;
  }
}
.partners {
  margin-top: 80px;
}
@media (max-width: 575.98px) {
  .partners {
    margin-top: 44px;
  }
}

.partners__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.partners__list * {
  cursor: pointer;
}
.partners__list-item {
  width: 292px;
  height: 100px;
  padding: 12px 8px;
  border-radius: 12px;
  background: #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(91, 115, 139, 0.16), 0px 0px 2px 0px rgba(54, 58, 62, 0.16);
          box-shadow: 0px 8px 16px 0px rgba(91, 115, 139, 0.16), 0px 0px 2px 0px rgba(54, 58, 62, 0.16);
  position: relative;
}
.partners__list-item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.partners__list .partners__list-item-img_1 {
  width: 140px;
  height: 24px;
}
.partners__list .partners__list-item-img_2 {
  width: 116px;
  height: 40px;
}
.partners__list .partners__list-item-img_3 {
  width: 216px;
  height: 40px;
}
.partners__list .partners__list-item-img_4 {
  width: 140px;
  height: 44px;
}
@media (min-width: 576px) and (max-width: 1199.98px) {
  .partners__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .partners__list::-webkit-scrollbar {
    border-radius: 10px;
    background: #f3f2f4;
    height: 4px;
  }
  .partners__list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e31335;
    cursor: pointer !important;
  }
  .partners__list::-webkit-scrollbar-button {
    display: none;
  }
  .partners__list-item {
    min-width: 292px;
    min-height: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .partners__list {
    margin-top: 24px !important;
    padding-top: 0 !important;
    gap: 16px !important;
  }
  .partners__list-item {
    min-width: 148px;
    min-height: 48px !important;
    max-height: 48px !important;
    padding: 12px 8px;
  }
  .partners__list .partners__list-item-img_1 {
    width: 92px;
    height: 16px;
  }
  .partners__list .partners__list-item-img_2 {
    width: 64px;
    height: 24px;
  }
  .partners__list .partners__list-item-img_3 {
    width: 108px;
    height: 20px;
  }
  .partners__list .partners__list-item-img_4 {
    width: 88px;
    height: 28px;
  }
}
@media (max-width: 575.98px) {
  .partners__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 24px !important;
    padding-top: 0 !important;
    gap: 16px !important;
  }
  .partners__list-item {
    width: 47%;
    height: 100%;
    /* min-width: 148px; */
    /* max-width: 148px; */
    /* max-width: fit-content; */
    min-height: 48px !important;
    max-height: 48px !important;
    padding: 12px 8px;
  }
  .partners__list .partners__list-item-img_1 {
    width: 92px;
    height: 16px;
  }
  .partners__list .partners__list-item-img_2 {
    width: 64px;
    height: 24px;
  }
  .partners__list .partners__list-item-img_3 {
    width: 108px;
    height: 20px;
  }
  .partners__list .partners__list-item-img_4 {
    width: 88px;
    height: 28px;
  }
}

.about {
  background: url(../../assets/img/About/Preview.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 668px;
  max-width: 1450px;
  margin: auto;
  /* padding-bottom: 46px; */
  padding-top: 56px;
}

.about__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  margin-top: 40px;
}

.little-defolt-title {
  color: var(--black-100, #101010);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.about__info {
  min-width: 452px;
  max-width: 616px;
}
.about__info .about__info-text {
  color: #000;
  font-family: "TTNorms", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.about__info p:nth-child(2) {
  margin-top: 32px;
}
.about__info p:nth-child(3) {
  margin-top: 20px;
}

.about__image {
  width: 100%;
  height: auto;
  max-width: 508px;
  max-height: 384px;
}

@media (max-width: 1120px) {
  .footer {
    margin-top: 60px;
  }
  .about {
    display: none !important;
  }
}
.footer {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background: #333;
  padding: 40px 0 60px;
}
.footer * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.footer .footer__logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 32px;
  gap: 60px;
}
@media (min-width: 1060px) {
  .footer .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer .footer__list-column {
  min-width: 160px;
}
@media (min-width: 835px) {
  .footer .footer__list-column li:first-of-type {
    margin-bottom: 16px;
  }
  .footer .footer__list-column li:first-of-type * {
    color: #fff !important;
    font-family: "TTNormsMedium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.072px;
  }
}
.footer .footer__list-column .footer__list-column-item * {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.footer .footer__list-column .footer__list-column-item *:hover {
  color: #7b7b7b;
}
.footer .footer__list-column .footer__list-column-item:not(:first-child) {
  margin-top: 12px;
}
.footer .footer__list-column_payment-links_payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer .footer__list-column_payment-links_payment .footer__list-column-item-link {
  max-width: 40px;
  max-height: 24px;
  display: block;
}
.footer .footer__list-column-item-link-img {
  width: 100%;
  height: 100%;
}
.footer .footer__list-column_payment-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-top: 28px;
}
.footer .footer__list-column_payment-link {
  color: #d5d5d5;
  font-family: "TTNorms", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .footer__list-column_payment-link:hover {
  color: #7b7b7b;
}
.footer .footer__list-column_payment-link:nth-child(3) {
  color: #d5d5d5 !important;
}
.footer .footer__list-column_payment-link:nth-child(4):hover {
  color: #ff0a99 !important;
}

@media (min-width: 835px) {
  .footer__list_desktop-hidden {
    display: none !important;
  }
}
@media (max-width: 834.98px) {
  .footer {
    padding: 24px 0 40px 0;
  }
  .footer__list_mobile-hidden {
    display: none !important;
  }
  .fade-enter-active,
  .fade-leave-active {
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .footer__list-column-item-link {
    color: #fff !important;
    font-family: "TTNormsMedium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.072px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .footer__list-column_payment-links {
    display: block;
    width: 100%;
  }
  .footer__list_desktop-hidden {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px !important;
    margin-top: 36px !important;
  }
  .footer__list_desktop-hidden .footer__list-column {
    width: 100%;
    min-width: unset !important;
  }
  .footer__list_desktop-hidden .footer__list-column .footer__list-column-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 8px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "TTNormsMedium", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 20px; /* 125% */
    letter-spacing: 0.064px;
  }
  .footer__list_desktop-hidden .footer__list-column .footer__list-column-item-link::after {
    content: "";
    display: block;
    background: url(../../assets/img/icons/Footer/accordion-arrow.png);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .footer__list_desktop-hidden .footer__list-column .footer__list-column-item-link.active::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .footer__list_desktop-hidden .footer__list-column .footer__list-column-items {
    margin-top: 12px;
  }
  .footer__list_desktop-hidden .footer__list-column-item-link {
    margin-bottom: 0;
  }
  .footer__list_desktop-hidden .footer__list-column_payment-links_payment {
    padding: 8px 0;
  }
  .footer__list_desktop-hidden .footer__list-column_payment-links-wrapper {
    margin-top: 16px;
    gap: 16px;
  }
  .footer__list_desktop-hidden .footer__list-column_payment-link_purple:hover {
    color: #ff0a99 !important;
  }
  .footer__list_desktop-hidden .footer__list-column_payment-link {
    color: #fff;
    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
}