.benefits {
   margin-top: 64px;

   margin-bottom: 84px;

   @media (max-width: 575.98px) {
      margin-top: 24px;
   }
}

.benefits__list {
   display: flex;
   justify-content: space-between;

   gap: 40px;
   align-items: center;

   * {
      cursor: pointer;
   }

   @media (max-width: 575.98px) {
      .benefits__list-item-description {
         font-size: 12px;
         font-style: normal;
         font-weight: 500;
         line-height: 16px; /* 133.333% */
         letter-spacing: 0.048px;

         max-width: 190px;
         height: 32px;
      }
      .benefits__list-item {
         gap: 8px;
      }
      .benefits__list-item-icon {
         width: 30px !important;
      }
   }
}
.benefits__list-item {
   display: flex;
   align-items: center;
   gap: 10px;

   min-width: fit-content;

   &-icon {
      width: 40px;
   }
   &-description {
      color: #101010;

      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
      max-width: 232px;
   }
}
