.benefits {
   margin-top: 65px;

   margin-bottom: 80px;
}

.benefits__list {
   display: flex;
   justify-content: space-between;

   gap: 35px;
   align-items: center;

   * {
      cursor: poiner;
   }
}
.benefits__list-item {
   display: flex;
   align-items: center;
   gap: 10px;

   min-width: fit-content;
   &-icon {
      width: 40px;
   }
   &-description {
      color: #101010;

      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
      max-width: 235px;
   }
}
