.benefits {
   margin-top: 64px;

   margin-bottom: 80px;

   @media (max-width: 575.98px) {
      margin-top: 24px;
   }

   @media (max-width: 767.98px) {
      margin-bottom: 0px;
   }
}

.benefits__list {
   display: flex;
   justify-content: space-between;

   gap: 32px;
   align-items: center;

   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
   clip-path: unset !important;
   overflow-x: auto !important;

   &::-webkit-scrollbar,
   &::-webkit-scrollbar-thumb,
   &::-webkit-scrollbar-button {
      display: none !important;
   }

   * {
      cursor: pointer;

      pointer-events: none !important;
   }

   @media (max-width: 575.98px) {
      .benefits__list-item-description {
         font-size: 12px;
         font-style: normal;
         font-weight: 500;
         line-height: 16px; /* 133.333% */
         letter-spacing: 0.048px;

         max-width: 190px;
         height: 32px;
      }

      .benefits__list-item-icon {
         width: 32px !important;
         height: 32px !important;
      }
   }

   @media (max-width: 1299.98px) {
      overflow-x: auto;

      scroll-behavior: smooth;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      scrollbar-width: thin; /* для Firefox */
      -ms-overflow-style: none; /* для Internet Explorer и Edge */

      &::-webkit-scrollbar {
         display: none; /* для WebKit (Chrome, Safari) */
      }
   }
}
.benefits__list-item {
   display: flex;
   align-items: center;
   gap: 8px;

   min-width: fit-content;

   &-icon {
      width: 40px;
   }
   &-description {
      color: #101010;

      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
      max-width: 232px;
   }
}
