.equipments {
   margin-top: 80px;
}

.defolt-title {
   color: #101010;
   font-family: $Montserrat;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px; /* 142.857% */
}

.equipments__categories {
   margin-top: 20px !important;
   padding-bottom: 24px;
   padding-top: 12px !important;

   display: flex;
   gap: 32px;

   user-select: none;
   * {
      cursor: pointer;
   }

   flex-wrap: nowrap;

   @include scrollbar-styles;

   padding-bottom: 24px !important;
   margin-bottom: -24px !important;
}

.v-hl-container {
   scroll-behavior: inherit !important;
   * {
      user-select: none !important;
   }
   &.equipments__categories {
      margin-top: 20px !important;
      padding-bottom: 24px;
      padding-top: 12px !important;

      display: flex;
      gap: 32px;
      flex-wrap: nowrap;
      clip-path: unset !important;

      @include scrollbar-styles;
      * {
         cursor: pointer;
      }
   }
}
.equipments__categories-item {
   // user-select: none;
   &:hover {
      .equipments__categories-item-img-wrapper {
         //  box-shadow: 0px 0px 16px 10px rgba(14, 31, 53, 0.16);
         box-shadow: 0px 0px 11px 6px rgba(14, 31, 53, 0.16) !important;
         * {
            pointer-events: none !important;
         }
      }
   }
}
.equipments__categories-item-img-wrapper {
   padding: 20px;

   width: 292px;
   height: 180px;

   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px rgba(14, 31, 53, 0.16);
   transition: 0.25s ease-in-out;
}
.equipments__categories-item-img {
   width: 100%;
   height: 100%;

   max-width: 140px;
   max-height: 140px;

   display: block;
   margin: auto;
}
.equipments__categories-item-text {
   color: #101010;
   font-family: $TTNormsMedium;
   font-size: 18px;
   font-style: normal;
   line-height: 28px; /* 155.556% */
   letter-spacing: 0.072px;

   margin-top: 12px;
   text-align: center;
}

@media (max-width: 575.98px) {
   .equipments__categories {
      gap: 16px !important;
      margin-top: 12px !important;
      padding-bottom: 16px !important;
   }
   .defolt-title {
      font-size: 16px;
      line-height: 20px; /* 125% */
   }
   .equipments__title {
      font-size: 20px;
      font-style: normal;
      line-height: 24px;
   }
   .equipments__categories-item-img-wrapper {
      width: 232px;
      height: 160px;
   }
   .equipments__categories-item-img {
      max-width: 120px;
      max-height: 120px;
   }
   .equipments__categories-item-text {
      font-size: 16px;
      line-height: 20px; /* 125% */
      letter-spacing: 0.064px;

      margin-top: 8px;
      text-align: left;
   }
}
.filters__list {
   overflow-x: hidden !important;
   * {
      list-style: none;
      pointer-events: all !important;
   }
}
