.footer {
   width: 100%;
   border-radius: 20px 20px 0 0;
   background: #333;
   //    padding: 40px 88px 60px;
   padding: 40px 0 60px;

   //    padding-left: 12px;
   //    padding-right: 12px;
   //    margin-top: 100px;

   * {
      transition: 0.25s ease-in-out;
   }

   .footer__logo {
      display: block;
      width: fit-content;
      height: fit-content;
   }

   .footer__list-container {
      //   padding: 0;
   }

   .footer__list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: start;
      margin-top: 32px;
      gap: 60px;

      //   @media (min-width: 1060px) {
      @media (min-width: 930px) {
         justify-content: space-between;
      }
   }

   .footer__list-column {
      min-width: 160px;

      @media (min-width: 835px) {
         li:first-of-type {
            * {
               color: #fff !important;
               font-family: $TTNormsMedium;
               font-size: 18px;
               font-weight: 500;
               line-height: 28px;
               letter-spacing: 0.072px;
            }
            margin-bottom: 16px;
         }
      }

      .footer__list-column-item {
         * {
            color: rgba(255, 255, 255, 0.9);
            // text-align: center;
            font-family: $TTNorms;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;

            &:hover {
               color: #7b7b7b;
            }
         }

         &:not(:first-child) {
            margin-top: 12px;
         }
      }
   }

   .footer__list-column_payment-links_payment {
      display: flex;
      gap: 12px;

      .footer__list-column-item-link {
         max-width: 40px;
         max-height: 24px;
         display: block;
      }
   }

   .footer__list-column-item-link-img {
      width: 100%;
      height: 100%;
   }

   .footer__list-column_payment-links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 28px;
   }

   .footer__list-column_payment-link {
      color: #d5d5d5;
      font-family: $TTNorms;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      display: inline-block;

      width: fit-content;

      &:hover {
         color: #7b7b7b;
      }

      &:nth-child(3) {
         color: #d5d5d5 !important;
      }

      &:nth-child(4):hover {
         color: #ff0a99 !important;
      }
   }
}

@media (min-width: 835px) {
   .footer__list_desktop-hidden {
      display: none !important;
   }
}

//! Адаптация под мобильные устройства ( Создание аккордионов )
@media (max-width: 834.98px) {
   .footer {
      padding: 24px 0 40px 0;
   }
   .footer__list_mobile-hidden {
      display: none !important;
   }
   .fade-enter-active,
   .fade-leave-active {
      transition: opacity 0.25s ease-in-out;
   }

   .fade-enter,
   .fade-leave-to {
      opacity: 0;
   }

   .footer__list-column-item-link {
      color: #fff !important;
      font-family: $TTNormsMedium;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.072px;
      margin-bottom: 16px;

      cursor: pointer;
   }

   .footer__list-column_payment-links {
      display: block;
      width: 100%;
   }

   .footer__list_desktop-hidden {
      justify-content: space-between;
      gap: 16px !important;
      margin-top: 36px !important;
      .footer__list-column {
         width: 100%;
         min-width: unset !important;

         .footer__list-column-item-link {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;

            margin-bottom: 0;
            padding-bottom: 12px;
            padding-top: 8px;

            border-bottom: 1px solid #fff;

            color: #fff;

            font-family: $TTNormsMedium;
            font-size: 16px;
            font-style: normal;
            line-height: 20px; /* 125% */
            letter-spacing: 0.064px;

            &::after {
               content: "";
               display: block;
               background: url(../../assets/img/icons/Footer/accordion-arrow.png);

               width: 20px;
               height: 20px;

               background-position: center;
               background-repeat: no-repeat;
               background-size: contain;

               transition: 0.35s ease-in-out;
            }

            &.active {
               &::after {
                  transform: rotate(-180deg);
               }
            }
         }

         .footer__list-column-items {
            margin-top: 12px;
         }
      }
      .footer__list-column-item-link {
         margin-bottom: 0;
      }
      .footer__list-column_payment-links_payment {
         padding: 8px 0;
      }
      .footer__list-column_payment-links-wrapper {
         margin-top: 16px;
         gap: 16px;
      }

      .footer__list-column_payment-link_purple {
         &:hover {
            color: #ff0a99 !important;
         }
      }

      .footer__list-column_payment-link {
         color: #fff;
         font-size: 12px;
         line-height: 16px; /* 133.333% */
      }
   }
}
