.intro {
   display: flex;
   justify-content: space-between;

   align-items: center;

   margin-top: 48px;

   gap: 70px;
}
.intro__info {
}
.intro__info-title {
   color: #1d1d1d;

   font-family: $Montserrat;
   font-size: 52px;
   font-style: normal;
   font-weight: 700;
   line-height: 62px; /* 119.231% */
   hyphens: auto;
}
.intro__info-subtitle {
   margin-top: 20px;

   color: #1d1d1d;

   font-family: $Montserrat;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px; /* 133.333% */
   hyphens: auto;
}
.intro__img {
   max-width: 468px;

   @media (max-width: 991.98px) {
      order: -1;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .intro__info-title {
      font-size: 40px;
      line-height: 45px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .intro {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 24px;
   }

   .intro__info-title {
      font-size: 40px;
      line-height: 45px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .intro {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 24px;

      gap: 15px;
   }
   .intro__img {
      order: -1;
   }
   .intro__info-title {
      font-size: 40px;
      line-height: 45px;
   }
}
@media (max-width: 576.98px) {
   .intro {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;

      gap: 10px;
   }
   .intro__img {
      width: 100%;
      max-width: 375px;
   }
   .intro__info-title {
      font-size: 26px;
      line-height: 30px;
   }
   .intro__info-subtitle {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.048px;

      margin-top: 8px;
   }
}
