.good-page__intro {
   margin-top: 32px;

   .good-page__intro-articul {
      color: #828282;
      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
   }
}
