.catalog {
   margin-bottom: 140px;

   @media (max-width: 1120px) {
      margin-bottom: 80px;
   }
}

.catalog__categories {
   &.equipments__categories {
      gap: 32px !important;
      flex-wrap: wrap !important;

      overflow: inherit !important;

      padding: 0 !important;
      margin: 40px 0 0 0 !important;
   }

   .equipments__categories-item {
      min-width: 292px;
      //   max-width: 100%;
   }
   .equipments__categories-item-img-wrapper {
      height: 260px !important;

      width: 100%;
   }

   .equipments__categories-item-img {
      max-width: 180px !important;

      margin: 0 !important;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   a:nth-child(1),
   a:nth-child(5) {
      .equipments__categories-item-img {
         max-width: 140px !important;
      }
   }

   a:nth-child(2) {
      .equipments__categories-item-img {
         max-width: 232px !important;
      }
   }
}

//! Адаптив

@media (min-width: 1015px) and (max-width: 1379.98px) {
   .catalog__categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .equipments__categories-item {
         min-width: 292px;
         max-width: 100%;

         width: 100%;
      }
   }
}
@media (max-width: 1014.98px) {
   .catalog__categories {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .equipments__categories-item {
         min-width: 292px;
         max-width: 100%;

         width: 100%;
      }
   }
}
@media (max-width: 699.98px) {
   .catalog__categories {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .equipments__categories-item {
         min-width: auto !important;
         max-width: 100%;

         width: 100%;
      }
   }
}

.catalog__title {
   margin-top: 28px;
}
.catalog-breadcrumbs {
   margin-top: 28px;
}

.breadcrumbs {
   display: inline-flex;
   gap: 8px;

   align-items: center;
   * {
      color: #a8a8a8 !important;

      cursor: pointer;
   }
   .breadcrumbs__link {
      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
      color: #a8a8a8 !important;

      &:first-letter {
         text-transform: uppercase;
      }
   }

   .breadcrumbs__link-divider {
      //   height: 16px;
   }
   span:nth-last-child(-n + 2),
   li:nth-last-child(-n + 2) {
      color: #101010 !important;
      font-weight: 500;

      * {
         color: #101010 !important;
         font-weight: 500;
      }
   }
}

@media (max-width: 575.98px) {
   .breadcrumbs {
      margin-top: 12px !important;
   }
}
