.good-page {
   margin-top: 16px;
}

.good-page__intro {
   margin-top: 40px;
}
.good-page__intro-icons {
   display: flex;
   width: 100%;

   align-items: center;

   justify-content: space-between;
   * {
      cursor: pointer;
   }
}
.good-page__intro-articul {
   color: #828282;
   font-family: $TTNormsMedium;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px; /* 142.857% */
   letter-spacing: 0.056px;

   display: flex;
   align-items: center;

   gap: 4px;

   position: relative;
}

.good-page__intro-articul-copied-msg {
   position: absolute;
   top: -8px;
   right: -120px;

   padding: 8px;

   border-radius: 8px;
   background: rgba($color: #101010, $alpha: 0.5);
   color: #fff;

   transition: 0.25s ease-in-out;
   opacity: 0;
   pointer-events: none;

   &.active {
      opacity: 1;
      pointer-events: all;
   }
}
.good-page__intro-articul-icon {
}

.good-page__intro-preview {
   margin-top: 32px;

   display: flex;
   gap: 32px;

   flex-wrap: wrap;

   justify-content: end;
}

.good-page__intro-preview-description {
   width: 100%;
   max-width: 400px;
}
.good-page__intro-preview-description-title {
   color: #101010;
   font-family: $TTNormsMedium;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: 0.064px;
}
.good-page__intro-preview-description-text {
   margin-top: 12px;

   overflow: hidden;
   color: #101010;
   text-overflow: ellipsis;
   hyphens: auto;

   font-family: $TTNorms;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */

   height: 124px;

   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
}
.good-page__intro-preview-description-link {
   color: #e31335;

   font-family: $TTNormsMedium;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px; /* 142.857% */
   letter-spacing: 0.056px;

   border-bottom: dashed 1px;
   padding-bottom: 2px;

   cursor: pointer;
}

.good-page__intro-preview-description-title_parametrs {
   margin-top: 24px;
}

.good-page__intro-preview-description-link_parametrs {
   margin-top: 12px;
   display: inline-block;
}

.good-page__intro-preview-description-parametrs {
   p {
      overflow: hidden;

      color: #828282;
      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
   }
   p:after {
      content: "....................................................................................................................................................";
      display: block;
      white-space: nowrap;
      overflow: hidden;
   }
   p span:first-of-type {
      float: left;
      margin-right: 4px;
   }
   p span:last-of-type {
      float: right;
      margin-left: 4px;

      color: #101010;
   }
}

//! Слайдер

.good-page__intro-preview-slider-item {
   width: 300px;
   display: block;
}

.good-page__intro-preview-slider-wrapper {
   width: 100%;
   max-width: 508px;
}

//! Колонка с комплектацией

.good-page__intro-preview-complectation {
   width: 100%;
   max-width: 292px;
}
.good-page__intro-preview-complectation-price {
   padding: 20px 20px 28px 20px;

   border-radius: 12px;
   background: #fff;

   box-shadow: 0px 0px 8px 0px rgba(14, 31, 53, 0.16);

   display: flex;
   flex-direction: column;
   gap: 16px;

   * {
      cursor: pointer;
   }
}
.good-page__intro-preview-complectation-price-sale {
   padding: 4px 8px;
   //    margin-bottom: 16px;
   display: inline-block;
   max-width: 44px;

   border-radius: 8px 0px;
   background: #e31335;

   color: #fff;
   text-align: center;
   font-family: $NunitoSans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 142.857% */
   letter-spacing: 0.056px;
}
.good-page__intro-preview-complectation-price-value {
   color: #101010;
   font-family: $Montserrat;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px; /* 133.333% */

   display: flex;
   align-items: center;
   gap: 8px;

   span {
      color: #828282;
      font-family: $TTNormsMedium;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: 0.064px;
      text-decoration: strikethrough;
   }
}
.good-page__intro-preview-complectation-price-stock {
   display: flex;

   gap: 4px;

   align-items: center;

   &.active {
      .good-page__intro-preview-complectation-price-stock-text {
         color: #04b769;
         font-family: $NunitoSans;
         font-size: 16px;
         font-style: normal;
         font-weight: 700;
         line-height: 24px; /* 150% */
         letter-spacing: 0.064px;
      }
   }
}
.good-page__intro-preview-complectation-price-btn {
   color: #fff !important;
   text-align: center;
   font-family: $TTNormsMedium;
   font-size: 16px !important;
   font-style: normal !important;
   font-weight: 500 !important;
   line-height: 24px !important; /* 150% */
   letter-spacing: 0.064px !important;

   background: #e31335 !important;
   &:hover {
      background: transparent !important;
      color: #e31335 !important;
   }
}

//! Секция с детальным описанием

.good-page__tabs {
   margin-top: 52px;

   margin-bottom: 80px;
}
.container {
}
.good-page__tabs-list {
   width: 100%;
   max-width: 940px;

   display: flex;

   justify-content: space-between;
}
.good-page__tabs-list-item {
   color: #828282;
   font-family: $Montserrat;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 28px; /* 140% */

   cursor: pointer;

   background: linear-gradient(var(--c, transparent) 0 0) left var(--p, 50%)
         bottom 0 / var(--d, 20px) 1px no-repeat,
      linear-gradient(var(--c, transparent) 0 0) right var(--p, 50%) bottom 0 /
         var(--d, 20px) 1px no-repeat;
   transition: 0.3s, background-position 0s;

   padding-bottom: 4px;

   &.active {
      --c: currentcolor;
      --d: 100%;
      --p: 100%;
      transition: 0.3s, background-size 0.3s 0.3s;
      color: #101010;
   }
}

//! Таб - "Описание"

.good-page__tabs-content {
   margin-top: 0;

   width: 100%;
   max-width: 940px;

   transition: 0.25s ease-in-out;
   opacity: 0;
   height: 0px;
   overflow: hidden;
   * {
      opacity: 0;
      height: 0px;
      overflow: hidden;
   }

   &.active {
      opacity: 1;
      height: fit-content;

      margin-top: 40px;
      * {
         opacity: 1;
         height: fit-content;
      }
   }
}
.good-page__tabs-description-title {
   color: #101010;
   font-family: $TTNormsMedium;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 28px; /* 155.556% */
   letter-spacing: 0.072px;
}
.good-page__tabs-description-text {
   margin-top: 24px;

   color: #101010;
   font-family: $NunitoSans;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}

//! Таб - "Характеристики"

.good-page__tabs-characteristics-list {
   width: 100%;

   margin-top: 24px;
}
.good-page__tabs-characteristics-list-item {
   width: 100%;

   display: flex;
   justify-content: space-between;

   align-items: center;

   padding: 12px;

   background: #f3f2f4;

   color: #101010;
   font-family: $NunitoSans;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */

   span {
      font-family: $TTNorms;
   }
}
.good-page__tabs-characteristics-list-item:nth-child(even) {
   background: #fff;
}

.good-page__tabs-description-title-second {
   margin-top: 32px;
}

.good-page__tabs-delivery {
   display: flex;

   gap: 32px;
   .good-page__tabs-description-text {
      margin-top: 24px;
   }
}

.good-page__tabs-delivery-description {
   max-width: 616px;
}
.good-page__tabs-delivery-benefits {
   display: flex;
   flex-direction: column;

   gap: 32px;

   width: 100%;

   overflow: inherit;
   padding: 4px;
}

.good-page__tabs-delivery-benefits-card {
   width: 100%;
   max-width: 292px;

   padding: 20px;

   border-radius: 8px;

   background: #fff;
   box-shadow: 0px 0px 8px 0px rgba(14, 31, 53, 0.16);

   //    display: flex;
   //    flex-direction: column;
   //    gap: 16px;

   * {
      cursor: pointer;
   }
}

.good-page__tabs-delivery-benefits-card-title {
   color: #101010;
   font-family: $TTNormsMedium;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: 0.064px;
}

.good-page__tabs-delivery-benefits-card-item {
   display: flex;
   gap: 12px;

   align-items: center;

   color: #101010;
   font-family: $TTNormsMedium;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px; /* 142.857% */
   letter-spacing: 0.056px;

   &:nth-child(2) {
      margin-top: 16px;
   }

   &:nth-child(3) {
      margin-top: 12px;
   }
}

.good-page__tabs-delivery-map {
   width: 100%;

   justify-content: space-between;

   align-items: center;
}
.good-page__tabs-delivery-map-description {
}
.good-page__tabs-delivery-map-preview {
   width: 292px;

   img {
      width: 100%;
      height: auto;
   }
   a {
      display: block;
      margin: auto;

      color: #101010;
      text-align: center;
      font-family: $TTNormsMedium;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.056px;
   }
}

.good-page__tabs-delivery-map-description-subtitle {
   color: #000;

   font-family: $TTNormsMedium;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: 0.064px;

   margin-top: 20px;
}
.good-page__tabs-delivery-map-description-subtitle span,
.good-page__tabs-delivery-map-description-times,
.good-page__tabs-delivery-map-description-phone {
   color: #000;

   font-family: $TTNorms;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}

.good-page__tabs-delivery-map-description-times {
   display: flex;
   gap: 24px;
}

.good-page__tabs-delivery-map-description-phone {
   margin-top: 12px;
}
