.popup {
   position: fixed;

   width: 100%;
   height: 100%;
   display: block;

   background: rgba($color: #000000, $alpha: 0.4);

   z-index: 10000;

   transition: 0.25s ease-in-out;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   opacity: 0;
   pointer-events: none;
   .popup__wrapper {
      border-radius: 20px;
      background: #fff;

      position: fixed;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      z-index: 1000001;
      width: 90%;
      max-width: 552px;

      height: 90%;
      max-height: 520px;

      padding: 20px 40px 40px 40px;

      //   @include scrollbar-styles;
      overflow-y: auto;
      &::-webkit-scrollbar {
         display: none;
      }
   }
   &.active {
      opacity: 1;
      pointer-events: all;
   }
}
.popup__wrapper-close {
   display: block;

   margin: 0 0 0 auto;

   width: 48px;
   height: 48px;

   cursor: pointer;
}

.popup__wrapper-pretitle {
   color: #828282;
   text-align: center;
   font-family: $TTNormsMedium;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: 0.064px;
}

.popup__wrapper-title {
   //    margin-bottom: 4px;

   color: #101010;
   text-align: center;
   font-family: $Montserrat;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px; /* 133.333% */
}

.input-wrapper {
   position: relative;
}
.popup__wrapper-inputs {
   margin-top: 32px;

   display: flex;
   flex-direction: column;

   gap: 32px;
}

.popup__wrapper-inputs-item {
   position: relative;

   min-height: 48px;

   width: 100%;

   * {
      color: #a8a8a8;
      /* Nunito Sans/Body/Normal */
      font-family: $NunitoSans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
   }

   input {
      position: absolute;

      border-radius: 4px;
      border: 1px solid var(--Black-40, #a8a8a8);

      padding: 12px 20px;

      width: 100%;
      height: 100%;

      transition: 0.25s ease-in-out;
      cursor: pointer;

      &:focus {
         border-color: #828282;
      }
   }
   span {
      color: red;
      margin-left: 4px;
   }
   input:valid + label {
      display: none;
   }
   input:focus + label {
      display: none;
   }
   label {
      position: absolute;
      display: inline-block;
      position: absolute;
      top: 12px;
      left: 20px;
      cursor: pointer;
   }
}

.popup__wrapper-btn {
   padding: 12px 28px !important;

   width: 100%;
   max-width: 140px;

   height: 48px;

   background: #e31335 !important;

   color: #fff !important;

   display: block;
   margin: 40px auto 0;

   font-family: $TTNormsMedium !important;
   font-size: 16px !important;
   font-style: normal !important;
   font-weight: 500 !important;
   line-height: 20px !important; /* 150% */
   letter-spacing: 0.064px !important;

   &:hover {
      background: transparent !important;

      color: $red !important;
   }
}

.time-picker {
   display: flex;

   border-radius: 12px;
   background: var(--White, #fff);

   /* card */
   box-shadow: 5px 5px 8px 0px rgba(224, 224, 224, 0.15),
      -5px -5px 8px 0px rgba(224, 224, 224, 0.15),
      5px -5px 8px 0px rgba(224, 224, 224, 0.15),
      -5px 5px 8px 0px rgba(224, 224, 224, 0.15),
      -1px -1px 2px 0px rgba(210, 212, 215, 0.2) inset,
      1px 1px 2px 0px rgba(255, 255, 255, 0.2) inset;

   padding: 12px 24px;

   width: 100%;
   max-width: 252px;
   height: 136px;

   margin: 40px auto;

   justify-content: center;
   gap: 20px;

   align-items: center;
   * {
      transition: 0.25s ease-in-out;
   }
   input,
   span {
      display: block;
      margin: auto;

      text-align: center;

      width: 100%;

      color: #454545;
      font-family: $Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   span {
      display: block;

      height: 20px;
      width: 4px;
      margin: auto 0;
   }
}

.time-picker__hour,
.time-picker__minute {
   text-align: center;

   width: 36px;

   button {
      height: 16px;
      &:hover {
         svg {
            path {
               fill: #e31335;
            }
         }
      }
   }
}
.time-picker__minute-divider_top,
.time-picker__hour-divider_top {
   margin-bottom: 16px;
}
.time-picker__minute-divider_bottom,
.time-picker__hour-divider_bottom {
   margin-top: 16px;
}

.popup__wrapper-radios {
   margin-top: 32px;

   display: flex;
   gap: 32px;

   justify-content: start;

   * {
      cursor: pointer;
   }

   .popup__wrapper-radios-item {
      display: flex;
      gap: 8px;
   }
   .popup__wrapper-radios-item-text {
      color: #101010;
      font-family: $TTNorms;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
   }
}

@media (max-width: 610px) {
   .popup {
      .popup__wrapper {
         padding: 20px;
      }

      .popup__wrapper-inputs {
         gap: 16px;
      }

      .popup__wrapper-radios {
         margin-top: 16px;

         //  flex-wrap: wrap;

         gap: 16px;
      }
      .popup__wrapper-radios-item {
         min-width: fit-content;
      }
   }
}
@media (max-width: 500px) {
   .popup {
      .popup__wrapper {
         padding: 20px;
      }
      .popup__wrapper-pretitle {
         line-height: 16px;
      }
      .popup__wrapper-title {
         font-size: 20px;

         line-height: 24px;

         margin-top: 8px;
      }
      .popup__wrapper-inputs {
         gap: 16px;
      }

      .popup__wrapper-radios {
         margin-top: 16px;

         //  flex-wrap: wrap;

         gap: 16px;
      }
      .popup__wrapper-radios-item {
         min-width: fit-content;

         align-items: center;

         p {
            font-size: 14px;
         }
      }

      svg {
         width: 16px;
         height: 16px;
      }
   }
}
