@font-face {
   font-family: "TTNorms";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/TTNorms-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "TTNormsMedium";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/TTNorms-Medium.ttf") format("truetype"),
      url("../fonts/TTNorms-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Montserrat";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap")
      format("truetype");
}

@font-face {
   font-family: "Nunito Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap")
      format("truetype");
}
@font-face {
   font-family: "Inter";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz@6..12&display=swap")
      format("truetype");
}
$TTNorms: "TTNorms", sans-serif;
$TTNormsMedium: "TTNormsMedium", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$NunitoSans: "Nunito Sans", sans-serif;
$Inter: "Inter", sans-serif;

$red: #c80122;
@mixin scrollbar-styles {
   overflow-y: hidden;
   overflow-x: auto;
   //    scroll-behavior: smooth;
   &::-webkit-scrollbar {
      border-radius: 10px;
      background: #f3f2f4;
      height: 4px;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #e31335;
      cursor: pointer !important;
   }

   &::-webkit-scrollbar-button {
      display: none;
   }
}
